*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.block{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
}
.a{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(167, 46, 46);
    animation-name: cube;
    animation-duration: 2s;
}

@keyframes cube {
    0%{
        left: 0px;
    }
    100%{
        left: 500px;
    }
}